$primaryColor: #FF8581;
$secondaryColor: #66B54E;
$backColor: #FEF5DA;

body {
  padding: 0;
  margin: 0;
  background-color: $backColor;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  height: 150px;
  border-bottom: 1px solid $secondaryColor;
  padding: 33px 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  width: 10px;
  height: 10px;
}

.primaryBtn {
  background-color: $primaryColor;
}

.secondaryBtn {
  background-color: $secondaryColor;
}